/* POSITIONING ######################################################################################################################### */

.c-vcenter {
    align-items: center;
    display: flex;
}

.c-hcenter {
    display: flex;
    justify-content: center
}